@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-image: url("./assets/svg/hexagon.svg");
  mask-image: url("./assets/svg/hexagon.svg");
}
